@mixin font($font_name, $file_name, $weight, $style) {

  @font-face {
  font-family: $font_name;
  font-display: swap;
  src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
  font-weight: #{$weight};
  font-style: #{$style};
  }
  }

  @import "fonts";

$fontFamily: 'Inter', sans-serif;
$fontFamily-Second: 'Roboto', sans-serif;
$color-all-text: #111111;

@mixin _select-form-reset() {
  display: block;
  padding: 0;
  position: relative;

  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    pointer-events: none; // Arrow clickable in some browsers
    z-index: 2;
  }

  // This is the native select, we're making everything but the text invisible so we can see the button styles in the wrapper
  select {
    -webkit-appearance: none;
    appearance: none;
    background: none;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    border: 1px solid transparent;
    font-size: 16px; // Font size must the 16px or larger to prevent iOS page zoom on focus
    outline: none;

    /* Focus style */
    &:focus {
      background-color: transparent;
      outline: none;
    }
  }

  /* Set options to normal weight */
  option {
    font-weight: normal;
  }

  /* ------------------------------------  */
  /* START OF UGLY BROWSER-SPECIFIC HACKS */
  /* ----------------------------------  */

  // Targeted via this hack http://browserhacks.com/#hack-a3f166304aafed524566bc6814e1d5c7
  x:-o-prefocus, &::after {
    display: none;
  }
  // IE 10/11+ - This hides native dropdown button arrow so it will have the custom appearance,
  // IE 9 and earlier get a native select - targeting media query hack via http://browserhacks.com/#hack-28f493d247a12ab654f6c3637f6978d5 - looking for better ways to achieve this targeting
  // The second rule removes the odd blue bg color behind the text in the select button in IE 10/11 and sets the text color to match the focus style's - fix via http://stackoverflow.com/questions/17553300/change-ie-background-color-on-unopened-focused-select-box */
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    & {
      select {
        &::-ms-expand {
          display: none;
        }

        &:focus::-ms-value {
          background: transparent;
          color: #000;
        }

      }
    }
  }

  /* FIREFOX won't let us hide the native select arrow, so we have to make it wider than needed and clip it via overflow on the parent container.
     The percentage width is a fallback since FF 4+ supports calc() so we can just add a fixed amount of extra width to push the native arrow out of view. We're applying this hack across all FF versions because all the previous hacks were too fragile and complex.
     You might want to consider not using this hack and using the native select arrow in FF. Note this makes the menus wider than the select button because they display at the specified width and aren't clipped. Targeting hack via http://browserhacks.com/#hack-758bff81c5c32351b02e10480b5ed48e */
  /* Show only the native arrow */
  @-moz-document url-prefix() {
    & {
      overflow: hidden;

      select {
        width: 120%;
        width: -moz-calc(100% + 3em);
        width: calc(100% + 3em);
        
        @supports(-moz-appearance: none) {
          width: 100%;          
        }
        

        /* Firefox focus has odd artifacts around the text, this kills that. See https://developer.mozilla.org/en-US/docs/Web/CSS/:-moz-focusring */
        &:-moz-focusring {
          color: transparent;
          text-shadow: 0 0 0 #000;
        }
      }
    }
  }
  
  @supports( -moz-appearance: none ) {
    & {
      width: 100%;          
    }
  }

}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
	font-family: $fontFamily;
}


button,
button:hover,
button:focus{
	font-family: inherit;
	outline: none;
	border: none;
}


ul,li{
	display: block;
	padding: 0;
	margin: 0;
}


.btn {
	background-color: #0021AF;
	font-weight: 400;
	display: block;
	text-align: center;
	transition: all 0.3s ease;
  font-family: $fontFamily;
  color: #fff;
  padding: 15px;
  border: 1px solid #0021AF;
  transition: all ease 0.5s;
  &:hover{
    background-color: #fff;
    color:#0021AF;
    border: 1px solid #0021AF;
    opacity: 1;
  }
}

.btn-white {
	background-color: #fff;
	font-weight: 400;
	display: block;
	text-align: center;
	transition: all 0.3s ease;
  font-family: $fontFamily;
  color: #0021AF;
  padding: 15px;
  border: 1px solid #0021AF;
  transition: all ease 0.5s;
  &:hover{
    background-color: #0021AF;
    color:#fff;
    border: 1px solid #0021AF;
    opacity: 1;
  }
}

input{
  padding: 15px 0 16px 15px;
  font-size: 16px;
  font-family: $fontFamily;
  font-weight: 400;
  border: 1px solid #111;
  outline: none;
}

h1,h2,h3,h4,h5,h6{
	font-weight: 500;
	font-size: 30px;
	line-height: 36px;
	color: $color-all-text;
  font-family: $fontFamily;
}


p{
	line-height: 19px;
	color: $color-all-text;
	font-size: 16px;
	margin: 0 auto;
  font-family: $fontFamily;
  font-weight: 400;
}


a{
	text-decoration: none;
  font-family: $fontFamily;
  font-weight: 400;
  color: #111111;
}


a:hover{
  opacity: 0.8;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  background-color:#fff;
}


//Header

.header{
  &__wrapper{
    display: flex;
    justify-content: space-between;
    padding: 26px 0;
    font-size: 20px;
    border-bottom: rgba($color: #111111, $alpha: 0.3) 1px solid ;
    &-adress{
      &-text{
        font-size: 20px;
        &:last-child{
          margin-top: 15px;
        }
      }
    }
    &-logo{
      background: url("/img/header/logo.svg");
      display: block;
      width: 208px;
      height: 40px;
    }
    &-phone{
      display: flex;
      flex-direction: column;
      &-tel{
        margin-left: auto;
        &-wa{
          margin-top: 15px;
          &_g{
            color: #4CAF50;
          }
        }
      }
    }
  }
}

//footer

.footer{
  border-top: rgba($color: #111111, $alpha: 0.3) 1px solid;
  &__wrapper{
    display: flex;
    justify-content: space-between;
    padding: 40px 0 35px 0;
    &-menu{
      &-list{
        margin-top: 15px;
        &-item{
          margin-bottom: 20px;
          &:first-child{
            font-size: 20px;
            margin-bottom: 30px;
          }
          &:last-child{
            margin-bottom: 0;
          }
        }
      }
    }
    &-workh{
      &-list{
        margin-top: 15px;
        &-item{
          margin-bottom: 20px;
          &:first-child{
            font-size: 20px;
            margin-bottom: 30px;
          }
          &:last-child{
            margin-bottom: 0;
          }
        }
      }
    }
    &-questions{
      &-list{
        margin-top: 15px;
        &-item{
          margin-bottom: 20px;
          &:first-child{
            font-size: 20px;
            margin-bottom: 30px;
          }
          &:last-child{
            margin-bottom: 0;
          }
        }
      }
    }
  }
  &__logo{
    &-wrapper{
      &-text{
        width: 241px;
        margin-top: 20px;
        &-item{
          color: rgba($color: #111111, $alpha: 0.5);
          &:last-child{
            margin-top: 20px;
          }
          &-link{
            color: rgba($color: #111111, $alpha: 0.5);
          }
        }
      }
    }
  }
}

//nav-bar

.nav-bar{
  padding: 30px 0 50px 0;
  display: flex;
  justify-content: space-between;
  &__wrapper{
    &-link{
      padding: 12px 34px;
      &.active{
        border: 1px solid #0021AF;
        color: #0021AF;
      }
    }
  }
  &__navigation{
    display: flex;
    &-link{
      margin-right: 40px;
      &:last-child{
        margin-right: 0;
      }
      &_search{
        background: url("/img/search.svg");
        width: 25px;
        height: 25px;
      }
      &_privc{
        background: url("/img/privc.svg");
        width: 20px;
        height: 25px;
      }
      &_basket{
        background: url("/img/basket.svg");
        width: 29px;
        height: 27px;
      }
  }
}
}

//main

//offer

.offer{
  background: url("/img/group.svg") no-repeat;
  background-position: right;
  width: auto;
  height: 406.66px;
  &-title{
    width: 349px;
    font-family: $fontFamily-Second;
    font-size: 50px;
    color: #0021AF;
    padding: 100px 0 0 24px;
    line-height: 59px;
  }
  &-texts{
    display: flex;
    background: url("/img/towel.png") no-repeat;
    background-position: right;
    width: 190px;
    height: 79.43px;
    margin: 25px 0 0 24px;
    &-item{
      margin-top: 11px;
      font-size: 20px;
      &_f{
        color: #D50000;
      }
      &_s{
        color: #fff;
        margin-left: 26px;
      }
    }
  }
}

//catalog

.catalog{
  padding: 150px 0;
  &-title{
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 60px;
  }
  &__wrapper{
    display: flex;
    flex-wrap: wrap;
    &-item{
      border: 1px #C4C4C4 solid;
      min-width: 291px;
      height: 292px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer;
      margin-right: 11px;
      margin-bottom: 11px;
      transition: all 1s ease;
      &:nth-child(4n+4){
        margin-right: 0;
      }
      &:nth-child(1n+4){
        margin-bottom: 0;
      }
      &-img{
        margin: 0 auto;
        display: block;
        margin-top: 15px;
      }
      &-text{
        text-align: center;
        padding-bottom: 15px;
        width: 245px;
      }
      &:hover{
        background: rgba($color: #111111, $alpha: 0.15);
      }
    }
  }
}

//catalog-case

.crumbs__catalog-case{
  display: flex;
  align-items: center;
  &-link{
    font-size: 10px;
    margin-right: 5px;
  }
  &-next{
    background: url("/img/next-crumbs.png") center center no-repeat;
    width: 12px;
    height: 10px;
    margin-right: 7px;
  }
}

.catalog__case{
  &-title{
    text-align: center;
    margin: 60px 0;
  }
  &-wrapper{
    display: flex;
    padding-bottom: 150px;
    &-item{
      border: 1px #C4C4C4 solid;
      min-width: 291px;
      height: 292px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer;
      margin-right: 11px;
      transition: all 1s ease;
      &-img{
        margin: 0 auto;
        display: block;
        margin-top: 15px;
      }
      &-text{
        text-align: center;
        padding-bottom: 15px;
        width: 245px;
      }
      &:hover{
        background: rgba($color: #111111, $alpha: 0.15);
      }
      &:last-child{
        margin-right: 0;
      }
    }
    
  }
}

//list-case

.list__case{
  padding-bottom: 150px;
  &-title{
    text-align: center;
    margin: 60px 0 30px 0;
  }
  &-content{
    padding: 50px 0 30px 0;
    &-titles{
      display: flex;
      font-weight: 500;
      padding: 0 25px 25px 25px;
      justify-content: space-between;
      &-name{
        margin-right: 639px;
      }
      &-coast{
        margin-right: 80px;
      }
      &-number{
        margin-right: 84px;
      }
    }
    &-list{
      &-item{
        display: flex;
        padding: 12px 37px 13.23px 25px;
        border: 0.5px solid #B8B8B8;
        align-items: center;
        justify-content: space-between;
        &-text{
          margin: 0;
          margin-right: 337px;
        }
        &-coast{
          font-size: 20px;
        }
        
        &-order{
          display: block;
          background: url("/img/case-bascet.svg") center center no-repeat;
          width: 38px;
          height: 34.77px;
        }
        &-numbers{
          display: flex;
          margin-right: 40px;
          margin-left: 50px;
          &-number{
            
            &-f{
             color: #0021AF;
             border: 1px solid #0021AF;
             font-size: 20px;
             width: 30px;
             height: 30px;
             display: flex;
             align-items: center;
             justify-content: center;
             margin-right: 20px;
             cursor: pointer;
             &_four{
               display: none;
             }
            }
            &-s{
              color: #0021AF; 
              border: 1px solid #0021AF;
              width: 30px;
              height: 30px;
              display: flex;
              align-items: center;
              justify-content: center;
              margin-left: 20px;
              cursor: pointer;
              &_four{
                display: none;
              }
            }
          }
          &-numbert{
            align-items: center;
            display: flex;
            font-size: 20px;
          }
        }
      }
    }
  }
  &-pagination{
    display: flex;
    justify-content: space-between;
    width: 210px;
    &-item{
      width: 30px;
      height: 36px;
      border: 1px solid #0021AF;
      display: flex;
      align-items: center;
      justify-content: center;
      color:#0021AF;
      &_next{
        background: url("/img/list-case-pagination-next.svg") center center no-repeat;
      }
    }
  }
}

.sorting{
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: flex-end;
  &__down{
    background: url("/img/sorting-down.svg") center center no-repeat;
    width: 13.11px;
    height: 7.27px;
    margin-left: 10px;
    &.active{
      display: none;
    }
  }
}


//basket-stage-one

.crumbs__basket{
  display: flex;
  align-items: center;
  justify-content: space-between;
  &-number{
    display: flex;
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
    border: 1px solid #0021AF;
    color:#0021AF;
    &.active{
      color: #fff;
      background-color: #0021AF;
    }
  }
  &-text{
    color: rgba($color: #111111, $alpha: 0.5);
    &.active{
      color: #111111;
    }
  }
  &-separate{
    display: flex;
    width: 173px;
    height: 1px;
    border: 1px solid #B8B8B8;
    
  }
}

.bascet-stage-one{
  padding-top: 100px;
  &__title{
    margin-bottom: 60px;
  }
  &__content{
    &-titles{
      padding-left: 45px;
      padding-right: 25px;
      &_four{
        padding-left: 20px;
        margin-top: 80px;
      }
      &-name{
        margin-right: 623px;
      }
    }
    &-item{
      display: flex;
      justify-content: space-between;
      padding: 18px 16px 17px 0;
      align-items: center;
      border: 0.5px solid #B8B8B8;
      &-del{
        background: url("/img/basket-delete.png");
        width: 20px;
        height: 20px;
        margin-right: 17px;
        cursor: pointer;
        &_none{
          display: none;
        }
      }
      &-text{
        margin-right: 317px;
      }
      &_four{
        padding-left: 20px;
      }
      &-summ{
        &_four{
          margin-left: 45px;
        }
      }
    }
    &-results{
      margin-top: 30px;
      color: rgba($color: #111111, $alpha: 0.6);
      &:last-child{
        margin-top: 15px;
      }
      &-number{
        color: #111111;
        &_four{
          margin-left: 10px;
          color: #000;
        }
      }
    }
    &-btns{
      display: flex;
      justify-content: space-between;
      padding: 65px 0 150px 0;
      &-prev{
        width: 278px;
      }
      &-next{
        width: 200px;
      }
    }
  }
}

//basket-stage-two

.bascet-stage-two{
  padding-top: 100px;
  &__title{
    margin-bottom: 60px;
  }
  &__btns{
    display: flex;
    &-item{
      width: 278px;
      background-color: #fff;
	font-weight: 400;
	display: block;
	text-align: center;
	transition: all 0.3s ease;
  font-family: $fontFamily;
  color: #0021AF;
  padding: 15px;
  border: 1px solid #0021AF;
  transition: all ease 0.5s;
  &:hover{
    background-color: #0021AF;
    color:#fff;
    border: 1px solid #0021AF;
    opacity: 1;
  }
  &.active{
  background-color: #0021AF;
	font-weight: 400;
	display: block;
	text-align: center;
	transition: all 0.3s ease;
  font-family: $fontFamily;
  color: #fff;
  padding: 15px;
  border: 1px solid #0021AF;
  transition: all ease 0.5s;
  &:hover{
    background-color: #fff;
    color:#0021AF;
    border: 1px solid #0021AF;
    opacity: 1;
  }
  }
  }
  }
  &__content{
    padding-top: 60px;
    &-newuser{
      display: none;
      padding-bottom: 150px;
      &.active{
        display: block;
      }
      &-title{
        font-size: 20px;
        margin-bottom: 40px;
      }
      &-wrapperi{
        margin-bottom: 30px;
      }
      &-item{
        width: 316px;
        height: 50px;
        margin-right: 30px;
        
      }
      &-agreement{
        display: flex;
        align-items: center;
        margin-top: 60px;
        &-text{
          margin-left: 10px;
          font-size: 10px;
        }
      }
      &-next{
        width: 200px;
        margin-top: 20px;
      }
    }
    &-registr{
      display: none;
      padding-bottom: 150px;
      &.active{
        display: block;
      }
      &-title{
        font-size: 20px;
        margin-bottom: 50px;
      }
      &-wrapper{
        width: 316px;
        display: flex;
        flex-direction: column;
        &-item{
          width: 316px;
          height: 50px;
          margin-bottom: 30px;
          
        }
        &-forget{
          display: flex;
          justify-content: end;
          font-size: 10px;
        }
      }
      &-continue{
        width: 200px;
        margin-top: 27px;
      }
    }
  }
}

//basket-stage-three

.bascet-stage-three{
  padding-top: 80px;
  &__title{
    margin-bottom: 60px;
  }
  &__content{
    padding-bottom: 150px;
    &-title{
      font-size: 20px;
      font-weight: 400;
      margin-bottom: 20px;
      &:nth-child(1n+2){
        margin-top: 50px;
      }
    }
    &-continue{
      width: 200px;
      margin-top: 60px;
    }
  }
}


// Demo Colors
$color-black: #111;
$demo-placeholder: rgba(#111,0.5);


$border-width: 1px;

// Select function
@mixin form-input-select(){
  // see https://codepen.io/jnowland/pen/KzYQxp for reset function
  @include _select-form-reset; 
  color: $color-black;
  display: block;
  border-radius: 0;
  box-shadow: none;
  font-size: 16px;
  // padding: 11px 15px;
  margin-top: 9px;
  margin-bottom: 15px;
  width: 316px;

  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    pointer-events: none; // Arrow clickable in some browsers

    // triangle set up
    border: 1px solid transparent; // reset all borders
    width: 0;
    height: 0;
    right: 16px;
  }

  // top arrow
  &::before {
    bottom: 55%;
    border-width: 0 6.5px 8px 6.5px;
    border-bottom-color: $color-black;
  }

  // bottom arrow
  &::after {
    border-width: 8px 6.5px 0 6.5px;
    border-top-color: $color-black;
    top: 55%;
  }
  
  // firefox is outside the div
  @-moz-document url-prefix() {
    border-right: $border-width solid $color-black;
    
    &:hover {
      border-right: $border-width solid $color-black;
    }
  }

  &:hover {

    select {
      
      border-color: $color-black;

      // outline is critical but when we are hovering the div has the border already.
      
      
    }

    

  }

  // Make sure you set all padding, borders on this select and not the parent div.
  // this is mainly for :focus and tabbing.

  select {
    border: $border-width solid $color-black;
    border-radius: 0;
    font-weight: 400;
    color: $demo-placeholder;
    padding: 11px 15px;
    line-height: normal;
    transition: border-color 0.2s ease,
                outline 0.2s ease;

    &[disabled], &:disabled{
      opacity: 0.4;
      cursor: not-allowed;
    }

    // we use invalid like a placeholder
    // 2019-03-05 added not selector for firefox and ie
    &:not(:focus):invalid {
      color: $demo-placeholder;
    }

  }
}

// Show the function
[include*="form-input-select()"] {
  @include form-input-select();
}


//bascet-stage-four

.bascet-stage-four{
  &__content{
    padding: 100px 0 150px 0;
    &-title{
      margin-bottom: 30px;
    }
    &-text{
      margin-bottom: 23px;
      &-result{
        font-size: 20px;
      }
    }
    &-info{
      &-title{
        font-size: 20px;
        font-weight: 400;
        margin-top: 60px;
        margin-bottom: 30px;
      }
      &-printing{
        font-size: 16px;
        font-weight: 500;
        color: rgba($color: #111, $alpha: 0.6);
        text-decoration: underline;
        margin-left: 22px;
      }
      &-text{
        color: rgba($color: #111, $alpha: 0.6);
        margin-bottom: 20px;

        &_f{
          display: flex;
          margin: 0;
        }
        &-result{
          color: #111;
          margin-left: 10px;
          &_b{
            display: block;
            margin-bottom: 18px;
          }
        }
      }
      &-wrapper{
        display: flex;
        &-text{
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}


//restore-password

.restore-password{
  padding-bottom: 150px;
  &__title{
    margin-top: 50px;
    margin-bottom: 20px;
  }
  &__text{
    color: #636366;
    margin-bottom: 60px;
  }
  &__send{
    width: 200px;
    margin-top: 40px;
  }
}

//new-password 

.new-password{
  padding-bottom: 150px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  &__title{
    margin-bottom: 60px;
  }
  &__input{
    margin-bottom: 30px;
    margin-right: 0;
  }
  &__send{
    width: 200px;
    margin-top: 10px;
  }
}


//returns

.returns{
  padding-bottom: 150px;
  &__title{
    text-align: center;
  }
  &__headtext{
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 30px;
    margin-top: 60px;
  }
  &__text-list{
    display: block;
    padding-left: 15px;
    &-item {
      display: list-item;
      color: #111;
      margin-bottom: 9px;
    }
  }
  &__text{
    width: 637px;
    margin: 0;
    color: rgba($color: #111, $alpha: 0.8);
    margin-bottom: 10px;
  }
  &__attention{
    color: #D50000;
  }
}

//contacts

.contacts{
  &__title{
    text-align: center; 
    margin-top: 30px;
  }
  &__wrapper{
    display: flex;
    padding: 60px 0 150px 0;
    &-item{
      &-title{
        font-size: 20px;
        margin-bottom: 30px;
      }
      &-text{
        margin-right: 100px;
      }
      &-dop{
        display: flex;
        flex-direction: column;
      }
      &-link{
        margin-bottom: 20px;
        margin-right: 86px;
        &-sp{
          color: rgba($color: #111, $alpha: 0.8);
          margin-right: 10px;
          &_wp{
            color: #4CAF50;
          }
        }
      }
      &-dopt{
        display: flex;
        margin-bottom: 30px;
        &-text{
          &-item{
            width: 190px;
            margin-left: 10px;
            &_f{
              width: 181px;
              
            }
          }
        }
        &-sp{
          color: rgba($color: #111, $alpha: 0.8);
          &_s{
            
            margin-left: 64px;
          }
        }
      }
    }
  }
  &__map{
    padding-bottom: 150px;
    &-frame{
      width: 1200px;
      height: 338px;
    }
  }
}


//discounts


.discounts{
  padding-top: 10px;
  &__title{
    text-align: center;
    margin-bottom: 60px;
  }
  &__text{
    margin-bottom: 20px;
    font-size: 20px;
    &-post{
      font-size: 16px;
      color: rgba($color: #111, $alpha: 0.8);
      margin-bottom: 20px;
    }
    &-attention{
      color: #D50000;
    }
  }
  &__wrapper{
    padding-bottom: 150px;
    &-list{
      padding-bottom: 50px;
      &-item{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: 500;
        font-size: 20px;
        width: 335px;
        color: rgba($color: #111, $alpha: 0.8);
        &-span{
          font-size: 30px;
        }
        &-nominal{
          font-size: 20px;
        }
        &-poloska{
          min-width: 52px;
          border: 1px solid #111111;
          background: #111111;
          padding-left: 55px;
          padding-right: 10px;
        }
      }
    }
  }
}

//personal-area

.personal-area{
&__title{
  text-align: center;
  margin-top: 10px;
}
&__wrapper{
  display: flex;
}
}

.tabs-wrapper{
  margin-top: 48px;
  position: relative;
  &__personal{
    width: 278px;
    background-color: #fff;
	font-weight: 400;
	display: block;
	text-align: center;
	transition: all 0.3s ease;
  font-family: $fontFamily;
  color: #0021AF;
  padding: 15px;
  border: 1px solid #0021AF;
  transition: all ease 0.5s;
  &:hover{
    background-color: #0021AF;
    color:#fff;
    border: 1px solid #0021AF;
    opacity: 1;
  }
  &.active{
    background-color: #0021AF;
	font-weight: 400;
	display: block;
	text-align: center;
	transition: all 0.3s ease;
  font-family: $fontFamily;
  color: #fff;
  padding: 15px;
  border: 1px solid #0021AF;
  transition: all ease 0.5s;
  }
  }
}

.profile{
  display: none;
  padding: 58px 0 150px 80px;
  &.active{
    display: block;
  }
  &__title{
    font-size: 20px;
    margin-bottom: 40px;
    &_change{
      margin-top: 80px;
    }
  }
  &__btns{
    display: flex;
    margin-top: 100px;
    &-item{
      width: 200px;
      margin-right: 30px;
    }
  }
}

.change-pass{
  display: flex;
  flex-direction: column;
}

.current-orders{
  display: none;
  padding: 58px 0 0 80px;
  &.active{
    display: block;
  }
  &__title{
    font-size: 20px;
  }
  &__text{
    margin-top: 20px;
    margin-bottom: 60px;
    &-span {
      font-size: 20px;
    }
  }
  &__span{
    margin-top: 20px;
    color: rgba($color: #111, $alpha: 0.6);
    &_r{
      color: #111;
      margin-left: 10px;
    }
    &_f{
      margin-top: 30px;
    }
  }
  &_paddingb{
    padding-bottom: 150px;
  }
  &__wrapper{
    &-itogitem{
      display: none;
      &.active{
        display: block;
      }
    }
  }
}

.history{
  padding: 58px 0 150px 80px;
  display: none;
  &.active{
    display: block;
  }
  &__wrapper{
    &-item{
      &_f{
        margin-bottom: 60px;
      }
    }
  }
}


//404 not found

.notfound{
background: url("/img/404.svg") center right no-repeat;
background-position: 548px;
width: 100%;
height: 500px;
padding-left: 155px;
margin-bottom: 150px;
&__title{
  font-weight: $fontFamily-Second;
  font-size: 35px;
  color: #0021AF;
  margin-bottom: 20px;
  padding-top: 102px;
}
&__text{
  width: 405px;
  margin: 0;
  margin-bottom: 20px;
}
&__link{
  color: #0021AF;
  font-size: 10px;
  text-decoration: underline;
}
}

//media

@media (max-width: 1200px){
  .container{
    padding: 0 15px;
  }

  .offer{
    background-size: 70%;
  }
  .catalog{
    &__case{
      &-wrapper{
       flex-wrap: wrap;
       justify-content: center;
       &-item{
         &:last-child{
           margin-right: 11px;
           margin-top: 10px;
         }
       }
      }
    }
    &__wrapper{
      justify-content: center;
      &-item {
        margin-right: 10px;
        &:nth-child(4n+4){
          margin-right: 10px;
        }
        &:nth-child(1n+4){
          margin-bottom:10px;
        }
      }
    }
  }

  .list__case{
    &-content{
      &-titles{
        &-name{
          margin-right: 393px;
        }
        &-coast{
          margin-right: 50px;
        }
        &-number{
          margin-right: 30px;
        }
      }
      &-list{
        &-item{
          &-text{
            margin-right: 115px;
          }
        }
      }
    }
  }
  .crumbs__basket{
    &-separate{
      width: 7%;
    }
  }
  .bascet-stage-one{
    &__content{
      &-titles{
        &-name{
          margin-right: 0;
          width: 64%;
        }
      }
      &-item{
        &-text{
          width: 57%;
          margin-right: 0;
        }
        &-numbers{
          margin: 0;
        }
        &-del{
          margin-right: 0;
        }
      }
    }
  }
  .bascet-stage-four{
    &__content{
      &-item{
        &-text{
          width: 65%;
        }
      }
    }
  }

  .contacts{
    &__wrapper{
      flex-wrap: wrap;
      justify-content: center;
    }
    &__map{
      &-frame{
        width: 100%;
      }
    }
  }

  .personal-area{
    &__wrapper{
      flex-wrap: wrap;
    }
  }
}

.notfound{
  background-size: 45%;
}



@media (max-width: 991px){
  .header{
    &__wrapper{
      &-adress{
        display: none;
      }
    }
  }
  .nav-bar{
    width: 100%;
    &__navigation{
      flex-direction: column;
      align-items: center;
      &-link{
        margin-top: 3px;
        margin-right: 0;
      }
    }
  }
  .offer{
    background-size: 63%;
    background-position: top right;
    height: 220.66px;;
    &-title{
      padding: 20px 0 0 24px;
      font-size: 40px;
    }
  }

  .footer{
    &__wrapper{
      flex-wrap: wrap;
    }
  }

  .catalog{
    &__case{
      &-wrapper{
        &-item{
          margin-top: 10px;
        }
      }
    }
  }
  .list__case{
    &-content{
      &-titles{
        &-name{
          margin-right: 0;
          width: 64%;
        }
      }
      &-list{
        &-item{
          padding: 12px 15px 13.23px 25px;
          &-text{
            width: 61%;
            margin-right: 0;
          }
          &-order{
            width: 58px;
          }
          &-numbers{
            margin-right: 0;
            margin-left: 0px;
          }
        }
      }
    }
  }
  .notfound{
    background-position: center bottom;
    margin-bottom: 70px;
    &__title{
      padding-top: 0;
    }
  }
  
}


@media (max-width: 806px){
  .personal-area{
    &__input{
      margin-bottom: 30px;
    }
  }
}
@media(max-width:781px){
  .current-orders{
    &__text{
      width: 80%;
    }
  }
}

