@mixin font($font_name, $file_name, $weight, $style) {

  @font-face {
  font-family: $font_name;
  font-display: swap;
  src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
  font-weight: #{$weight};
  font-style: #{$style};
  }
  }

  @import "fonts";

$fontFamily: 'Inter', sans-serif;
$fontFamily-Second: 'Roboto', sans-serif;
$color-all-text: #111111;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
	font-family: $fontFamily;
}


button,
button:hover,
button:focus{
	font-family: inherit;
	outline: none;
	border: none;
}


ul,li{
	display: block;
	padding: 0;
	margin: 0;
}


.btn {
	background-color: #0021AF;
	font-weight: 400;
	display: block;
	text-align: center;
	transition: all 0.3s ease;
  font-family: $fontFamily;
  color: #fff;
  padding: 15px;
  border: 1px solid #0021AF;
  transition: all ease 0.5s;
  &:hover{
    background-color: #fff;
    color:#0021AF;
    border: 1px solid #0021AF;
  }
}


h1,h2,h3,h4,h5,h6{
	font-weight: 500;
	font-size: 30px;
	line-height: 36px;
	color: $color-all-text;
  font-family: $fontFamily;
}


p{
	line-height: 19px;
	color: $color-all-text;
	font-size: 16px;
	margin: 0 auto;
  font-family: $fontFamily;
  font-weight: 400;
}


a{
	text-decoration: none;
  font-family: $fontFamily;
  font-weight: 400;
  color: #111111;
}


a:hover{
  opacity: 0.8;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  background-color:#fff;
}


//Header

.header{
  &__wrapper{
    display: flex;
    justify-content: space-between;
    padding: 26px 0;
    font-size: 20px;
    border-bottom: rgba($color: #111111, $alpha: 0.3) 1px solid ;
    &-adress{
      &-text{
        font-size: 20px;
        &:last-child{
          margin-top: 15px;
        }
      }
    }
    &-logo{
      background: url("/img/header/logo.svg");
      display: block;
      width: 208px;
      height: 40px;
    }
    &-phone{
      display: flex;
      flex-direction: column;
      &-tel{
        margin-left: auto;
        &-wa{
          margin-top: 15px;
          &_g{
            color: #4CAF50;
          }
        }
      }
    }
  }
}

//footer

.footer{
  border-top: rgba($color: #111111, $alpha: 0.3) 1px solid;
  &__wrapper{
    display: flex;
    justify-content: space-between;
    padding: 40px 0 35px 0;
    &-menu{
      &-list{
        margin-top: 15px;
        &-item{
          margin-bottom: 20px;
          &:first-child{
            font-size: 20px;
            margin-bottom: 30px;
          }
          &:last-child{
            margin-bottom: 0;
          }
        }
      }
    }
    &-workh{
      &-list{
        margin-top: 15px;
        &-item{
          margin-bottom: 20px;
          &:first-child{
            font-size: 20px;
            margin-bottom: 30px;
          }
          &:last-child{
            margin-bottom: 0;
          }
        }
      }
    }
    &-questions{
      &-list{
        margin-top: 15px;
        &-item{
          margin-bottom: 20px;
          &:first-child{
            font-size: 20px;
            margin-bottom: 30px;
          }
          &:last-child{
            margin-bottom: 0;
          }
        }
      }
    }
  }
  &__logo{
    &-wrapper{
      &-text{
        width: 241px;
        margin-top: 20px;
        &-item{
          color: rgba($color: #111111, $alpha: 0.5);
          &:last-child{
            margin-top: 20px;
          }
          &-link{
            color: rgba($color: #111111, $alpha: 0.5);
          }
        }
      }
    }
  }
}

//nav-bar

.nav-bar{
  padding: 30px 0 50px 0;
  display: flex;
  justify-content: space-between;
  &__wrapper{
    &-link{
      padding: 12px 34px;
      &.active{
        border: 1px solid #0021AF;
        color: #0021AF;
      }
    }
  }
  &__navigation{
    display: flex;
    &-link{
      margin-right: 40px;
      &:last-child{
        margin-right: 0;
      }
      &_search{
        background: url("/img/search.svg");
        width: 25px;
        height: 25px;
      }
      &_privc{
        background: url("/img/privc.svg");
        width: 20px;
        height: 25px;
      }
      &_basket{
        background: url("/img/basket.svg");
        width: 29px;
        height: 27px;
      }
  }
}
}

//main

//offer

.offer{
  background: url("/img/group.svg") no-repeat;
  background-position: right;
  width: auto;
  height: 406.66px;
  &-title{
    width: 349px;
    font-family: $fontFamily-Second;
    font-size: 50px;
    color: #0021AF;
    padding: 100px 0 0 24px;
    line-height: 59px;
  }
  &-texts{
    display: flex;
    background: url("/img/towel.png") no-repeat;
    background-position: right;
    width: 190px;
    height: 79.43px;
    margin: 25px 0 0 24px;
    &-item{
      margin-top: 11px;
      font-size: 20px;
      &_f{
        color: #D50000;
      }
      &_s{
        color: #fff;
        margin-left: 26px;
      }
    }
  }
}

//catalog

.catalog{
  padding: 150px 0;
  &-title{
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 60px;
  }
  &__wrapper{
    display: flex;
    flex-wrap: wrap;
    &-item{
      border: 1px #C4C4C4 solid;
      min-width: 291px;
      height: 292px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer;
      margin-right: 11px;
      margin-bottom: 11px;
      transition: all 1s ease;
      &:nth-child(4n+4){
        margin-right: 0;
      }
      &:nth-child(1n+4){
        margin-bottom: 0;
      }
      &-img{
        margin: 0 auto;
        display: block;
        margin-top: 15px;
      }
      &-text{
        text-align: center;
        padding-bottom: 15px;
        width: 245px;
      }
      &:hover{
        background: rgba($color: #111111, $alpha: 0.15);
      }
    }
  }
}

//catalog-case

.crumbs__catalog-case{
  display: flex;
  align-items: center;
  &-link{
    font-size: 10px;
    margin-right: 5px;
  }
  &-next{
    background: url("/img/next-crumbs.png") center center no-repeat;
    width: 12px;
    height: 10px;
    margin-right: 7px;
  }
}

.catalog__case{
  &-title{
    text-align: center;
    margin: 60px 0;
  }
  &-wrapper{
    display: flex;
    padding-bottom: 150px;
    &-item{
      border: 1px #C4C4C4 solid;
      min-width: 291px;
      height: 292px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer;
      margin-right: 11px;
      transition: all 1s ease;
      &-img{
        margin: 0 auto;
        display: block;
        margin-top: 15px;
      }
      &-text{
        text-align: center;
        padding-bottom: 15px;
        width: 245px;
      }
      &:hover{
        background: rgba($color: #111111, $alpha: 0.15);
      }
      &:last-child{
        margin-right: 0;
      }
    }
    
  }
}

//list-case

.list__case{
  padding-bottom: 150px;
  &-title{
    text-align: center;
    margin: 60px 0 30px 0;
  }
  &-content{
    padding: 50px 0 30px 0;
    &-titles{
      display: flex;
      font-weight: 500;
      padding: 0 25px 25px 25px;
      justify-content: space-between;
      &-name{
        margin-right: 639px;
      }
      &-coast{
        margin-right: 80px;
      }
      &-number{
        margin-right: 84px;
      }
    }
    &-list{
      &-item{
        display: flex;
        padding: 12px 37px 13.23px 25px;
        border: 0.5px solid #B8B8B8;
        align-items: center;
        justify-content: space-between;
        &-text{
          margin: 0;
          margin-right: 337px;
        }
        &-coast{
          font-size: 20px;
        }
        &-order{
          display: block;
          background: url("/img/case-bascet.svg");
          width: 38px;
          height: 34.77px;
        }
        &-numbers{
          display: flex;
          margin-right: 40px;
          margin-left: 50px;
          &-number{
            
            &-f{
             color: #0021AF;
             border: 1px solid #0021AF;
             font-size: 20px;
             width: 30px;
             height: 30px;
             display: flex;
             align-items: center;
             justify-content: center;
             margin-right: 20px;
             cursor: pointer;
            }
            &-s{
              color: #0021AF; 
              border: 1px solid #0021AF;
              width: 30px;
              height: 30px;
              display: flex;
              align-items: center;
              justify-content: center;
              margin-left: 20px;
              cursor: pointer;
            }
          }
          &-numbert{
            align-items: center;
            display: flex;
            font-size: 20px;
          }
        }
      }
    }
  }
  &-pagination{
    display: flex;
    justify-content: space-between;
    width: 210px;
    &-item{
      width: 30px;
      height: 36px;
      border: 1px solid #0021AF;
      display: flex;
      align-items: center;
      justify-content: center;
      color:#0021AF;
      &_next{
        background: url("/img/list-case-pagination-next.svg") center center no-repeat;
      }
    }
  }
}

.sorting{
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: flex-end;
  &__down{
    background: url("/img/sorting-down.svg") center center no-repeat;
    width: 13.11px;
    height: 7.27px;
    margin-left: 10px;
    &.active{
      display: none;
    }
  }
}


//basket-stage-one

.crumbs__basket{
  display: flex;
  align-items: center;
  justify-content: space-between;
  &-number{
    display: flex;
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
    border: 1px solid #0021AF;
    color:#0021AF;
    &.active{
      color: #fff;
      background-color: #0021AF;
    }
  }
  &-text{
    color: rgba($color: #111111, $alpha: 0.5);
    &.active{
      color: #111111;
    }
  }
  &-separate{
    display: flex;
    width: 173px;
    height: 1px;
    border: 1px solid #B8B8B8;
    
  }
}

.bascet-stage-one{
  padding-top: 100px;
  &__title{
    margin-bottom: 60px;
  }
  &__content{
    &-titles{
      padding-left: 45px;
      padding-right: 25px;
      &-name{
        margin-right: 623px;
      }
    }
    &-item{
      display: flex;
      justify-content: space-between;
      padding: 18px 16px 17px 0;
      align-items: center;
      border: 0.5px solid #B8B8B8;
      &-del{
        background: url("/img/basket-delete.png");
        width: 20px;
        height: 20px;
        margin-right: 17px;
        cursor: pointer;
      }
      &-text{
        margin-right: 317px;
      }
    }
    &-results{
      margin-top: 30px;
      color: rgba($color: #111111, $alpha: 0.6);
      &:last-child{
        margin-top: 15px;
      }
      &-number{
        color: #111111;
      }
    }
    &-btns{
      display: flex;
      justify-content: space-between;
      padding: 65px 0 150px 0;
      &-prev{
        width: 278px;
      }
      &-next{
        width: 200px;
      }
    }
  }
}