@mixin font($font_name, $file_name, $weight, $style) {

  @font-face {
  font-family: $font_name;
  font-display: swap;
  src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
  font-weight: #{$weight};
  font-style: #{$style};
  }
  }

  @import "fonts";

$fontFamily: 'Inter', sans-serif;
$fontFamily-Second: 'Roboto', sans-serif;
$color-all-text: #111111;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
	font-family: $fontFamily;
}


button,
button:hover,
button:focus{
	font-family: inherit;
	outline: none;
	border: none;
}


ul,li{
	display: block;
	padding: 0;
	margin: 0;
}


.btn {
	background-color: #0021AF;
	font-weight: 400;
	display: block;
	text-align: center;
	transition: all 0.3s ease;
  font-family: $fontFamily;
  color: #fff;
  &:hover{
    opacity: 0.7;
  }
}


h1,h2,h3,h4,h5,h6{
	font-weight: 500;
	font-size: 30px;
	line-height: 36px;
	color: $color-all-text;
  font-family: $fontFamily;
}


p{
	line-height: 19px;
	color: $color-all-text;
	font-size: 16px;
	margin: 0 auto;
  font-family: $fontFamily;
  font-weight: 400;
}


a{
	text-decoration: none;
  font-family: $fontFamily;
  font-weight: 400;
}


a:hover{
  opacity: 0.8;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  background-color:#fff;
}


//Header

.header{
  &__wrapper{
    display: flex;
    justify-content: space-between;
    padding: 26px 0;
    &-adress{
      &-text{
        &:last-child{
          margin-top: 15px;
        }
      }
    }
    &-logo{
      background: url("/img/header/logo.svg");
      display: block;
      width: 208px;
      height: 40px;
    }
    &-phone{
      display: flex;
      flex-direction: column;
      &-tel{
        margin-left: auto;
        &-wa{
          margin-top: 15px;
        }
      }
    }
  }
}
